body{
    background-image: url('/images/background/background2.jpg');
}

.app-header{
    padding-left:50px;
    color: #404040;
    text-shadow: white 0.1em 0.1em 0.2em;
    font-style: oblique;
    height: 100px;

}

.header h1{
    padding-top: 50px;
}

.navbar-static-top{
    background-color: #1b1a1a !Important;
    border: 0px;
}

.navbar-nav{
    background-color: #1b1a1a !Important;
}

.menu-button{
    color: #FFFFFF !Important;
   border-right: 2px dotted transparent;
}

.menu-button:hover{
    background-color: #0066ff !Important;
    transition: 0.2s;
}

.menu-button-active{
    background-color: #0066ff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    z-index: 100 !Important;
    display: none;
    position: absolute;
    background-color: #1b1a1a;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none !Important;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2b2a2a;
}

.my-content {
min-width: 240px;
  /*  opacity: 0.5;*/
}

#content_id {
    z-index: -1;
}

@media (max-width: 770px) {
    .dropdown-content {
        position: relative;
    }
}

@media (max-width: 390px) {
    .email-content{
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

}

@media (max-width: 285px) {
    .email-content{
        white-space: nowrap;
        width: 50px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }
}
