.row {
  position: relative;
}

.you_message{
  display: inline-block;
  background-color: #0ebeff;
  color: #FFFFFF;
}

.he_message{
  background: #e6e6e6;
  color: #262626;
  float:right;
}


.chat_container {
  /*width:250px;*/
  max-height: 100%;
  overflow: scroll;
}

@media (min-width: 991px) {
  .chat_container {
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
}


.chat_container span {
  padding: 5px;
  border-radius: 5px;
  word-break: break-all;
}

.chat_container .row {
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#edit-form-cointainer .panel-default {
  margin-bottom: 0px;
}
