.countdown-container{
    padding-top:50px;
    padding-bottom:20px;
    text-align: center;


}

.countdown-container div div {
    padding-top:10px;
    padding-bottom:10px;

}

#title{
    text-align: center;
}

#container_id {
  background-color: #000000;
  border: none;
}

/*#container_id{
  min-width: 550px;
}*/

@media (max-width: 435px) {
    .countdown-container .timer-text div{
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

}
