.cub-options{
    display:none;
}
.remove-challenge-button{
    display:none;
}
.challenges{
    border-color:1px solid #d3e0e9 !important;
}

.datetimepicker {
    /* Appended to body, abs-pos off the page */
    position: absolute;
    display: none;
    top: -9999em;
    left: -9999em;
}

.time_input{
    width:60px;
}